* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: lightgray;
}


header {
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding: 15px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: maroon;
    background-color: silver;
    padding: 5px 10px;
}
nav ul li a.active {
    background-color: blue;
    color: white;
}
nav ul li a:hover {
    background-color: navy;
    color: white;
}

section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid blue;
    background-color: white;
}
section h2 {
    background-color: blue;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}


.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.intro-box { width: 70%; border: 1px solid gray; padding: 10px; }
.photo-box { width: 25%; border: 1px solid gray; padding: 10px; }


.photo-box img {
    width: 100%;
    border: 5px solid gray;
    box-shadow: 3px 3px 5px gray;
}


.career-box, .project-item, .skill-item {
    border: 1px solid gray;
    padding: 15px;
    margin-top: 20px;
}
.career-box ul {
    padding-left: 20px;
}


.project-title {
    color: blue;
}
.project-body {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}


.ani-text {
    font-weight: bold;
    animation: colorChange 5s infinite;
}
@keyframes colorChange {
        0%{color:blue;}
        20%{color:red;}
        40%{color:green;}
        60%{color:orange;}
        80%{color:purple;}
        95%{color:yellow;}
        100%{color:blue;}

}



footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}